.homeProducts {
	margin: 16px;
}

.homeProductsContent {
	padding: 16px 0px;
}

.homeProductsContent h1 {
	text-align: center;
	font-size: var(--fs-600);
	letter-spacing: 1px;
	margin: 16px 0;
}

.homeProductsContent h2 {
	text-align: center;
	font-size: var(--fs-200);
	font-weight: 400;
	letter-spacing: 1px;
	margin: 16px 0;
}