.banner {
	height: calc(100vh - 97px);
	display: flex;
	position: relative;
}

.banner h1 {
	font-size: var(--fs-800);
	margin: 0 0 32px 0;
}

.banner button {
	background-color: var(--brown-clr);
	color: var(--white-clr);
	padding: 16px 32px;
	border: 1px solid var(--brown-clr);
	text-transform: uppercase;
	font-size: var(--fs-200);
	font-weight: 300;
	letter-spacing: 1px;
	cursor: pointer;
	margin-left: 32px;
}

.bannerLeft,
.bannerRight {
	flex: 1;
	display: flex;
	justify-content: center;
}

.bannerLeftContent {
	margin-bottom: 160px;
	position: absolute;
	top: -300px;
	opacity: 0;
}

.bannerRight {
	background-color: var(--light-brown-clr);
}

.bannerRightContent {
	height: 500px;
	position: absolute;
	bottom: -600px;
	opacity: 0;
}

.bannerRightContent img {
	width: 100%;
	height: 100%;
}

.banner.active .bannerLeftContent,
.banner.active .bannerRightContent {
	opacity: 1;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	transition: all 1s ease;
}

.bannerControls {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.bannerControls span {
	font-size: var(--fs-700);
	padding: 16px 20px;
	cursor: pointer;
}

.bannerControlsLeft {
	background-color: var(--brown-clr);
	color: var(--white-clr);
}

.bannerControlsRight {
	background-color: var(--white-clr);
	color: var(--brown-clr);
}