.productsList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	margin: 32px 0;
}

.productItem {
	text-align: center;
	font-size: var(--fs-200);
	font-weight: 400;
	cursor: pointer;
}

.productItemImageWrapper {
	aspect-ratio: 1;
	margin-bottom: 32px;
}

.productItemImageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}