.productsList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
}

.productItemImage {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.productItemInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.productItemModel,
.productItemPrice {
	font-size: var(--fs-300);
	font-weight: 600;
	margin: 24px 0 8px 0;
}

.productItemCategory {
	color: var(--gray-clr);
	font-size: var(--fs-100);
	margin: 0;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.productsList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 480px) {
    .productsList {
		grid-template-columns: repeat(1, 1fr);
	}
}