.products {
    margin: 0 16px;
}

.pageMap {
    margin: 32px 0 48px 0;
    font-size: var(--fs-200);
    color: var(--gray-clr);
}

.pageMapList {
    display: flex;
    align-items: center;
    gap: 4px;
}

.pageMapList span {
    width: 20px;
    height: 20px;
}

.pageMapList a:last-child {
    color: var(--black-clr);
    font-weight: 400;
}

.productsTitle {
    font-size: var(--fs-500);
    letter-spacing: 2px;   
    margin: 56px 0 16px 0;
}

.productsInfoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 48px 0;
}

.productsInfoBarLeft {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: var(--fs-200);
    color: var(--gray-clr);
}

.productsInfoBarLeft b {
    color: var(--black-clr);
}

.productsInfoBarRight {
    display: flex;
    align-items: center;
    gap: 32px;
}

.productsInfoBarRightItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.productsInfoBarRightItem p {
    font-size: var(--fs-200);
    font-weight: 600;
    letter-spacing: 1px;
}

.productsInfoBarRightItemDiff {
    border: 1px solid var(--brown-clr);
    color: var(--brown-clr);
    padding: 8px 32px;
    transition: all 500ms ease;
}

.productsInfoBarRightItemDiff:hover, .productsInfoBarRightItemDiff:focus {
    color: var(--white-clr);
    background-color: var(--brown-clr);
}

.productsInfoBarRightItem span {
    color: var(--gray-clr);
    font-size: var(--fs-500);
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 768px) {
    .productsInfoBar {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .productsInfoBarRight {
       flex-wrap: wrap;
       gap: 16px;
    }
}