body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --brown-clr: #7a4e20;
  --light-brown-clr: #e6c4a1;
  --white-clr: #ffffff;
  --black-clr: #000000;
  --gray-clr: #808080;
  --light-gray-clr: #eeeeee;
  --fs-100: 12px;
  --fs-200: 14px;
  --fs-300: 16px;
  --fs-400: 18px;
  --fs-500: 22px;
  --fs-600: 26px;
  --fs-700: 32px;
  --fs-800: 48px;
  --fs-900: 56px;
}

