.banner {
	height: calc(100vh - 97px);
	display: flex;
	align-items: center;
	position: relative;
	background: linear-gradient(
		to right,
		var(--white-clr) 0%,
		var(--white-clr) 50%,
		var(--light-brown-clr) 50%,
		var(--light-brown-clr) 100%
	);
}

.banner h1 {
	font-size: var(--fs-800);
	margin: 0 0 32px 0;
}

.banner button {
	background-color: var(--brown-clr);
	color: var(--white-clr);
	padding: 16px 32px;
	border: 1px solid var(--brown-clr);
	text-transform: uppercase;
	font-size: var(--fs-200);
	font-weight: 300;
	letter-spacing: 1px;
	cursor: pointer;
	margin-left: 32px;
}

.bannerLeft,
.bannerRight {
	flex: 1;
	position: relative;
}

.bannerLeftContent,
.bannerRightContent {
	position: absolute;
	transform: translate(-50%, -50%);
	margin: 0 16px;
	transition: all 750ms ease;
	opacity: 0;
}

.banner.active .bannerLeftContent {
	top: 50%;
	left: 50%;
	animation: slideFromBottom 0.75s ease forwards;
	opacity: 1;
}

.banner.active .bannerRightContent {
	top: 50%;
	left: 50%;
	animation: slideFromTop 0.75s ease forwards;
	opacity: 1;
}

.bannerLeftContent {
	width: max-content;
}

.bannerRightContent img {
	min-width: 200px;
	width: 100%;
	height: auto;
}

.bannerControls {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.bannerControls span {
	font-size: var(--fs-700);
	padding: 16px 20px;
	cursor: pointer;
}

.bannerControlsLeft {
	background-color: var(--brown-clr);
	color: var(--white-clr);
}

.bannerControlsRight {
	background-color: var(--white-clr);
	color: var(--brown-clr);
}

@keyframes slideFromBottom {
	from {
		top: 100%;
		opacity: 0;
	}
	to {
		top: 50%;
		opacity: 1;
	}
}

@keyframes slideFromTop {
	from {
		top: -50%;
		opacity: 0;
	}
	to {
		top: 50%;
		opacity: 1;
	}
}

@media screen and (max-width: 1024px) {
	.bannerLeftContent {
		width: unset;
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.banner h1 {
		font-size: var(--fs-600);
	}

	.banner button {
		padding: 8px 16px;
		margin: 0;
	}

	.bannerControls {
		bottom: 8px;
	}

	.bannerControls span {
		font-size: var(--fs-600);
		padding: 8px 12px;
		cursor: pointer;
	}
}

@media screen and (max-width: 480px) {
	.banner {
		flex-direction: column-reverse;
		overflow: hidden;
	}

	.bannerLeft {
		width: 100%;
	}

	.bannerLeftContent {
		text-align: center;
        top: 0;
	}

	.bannerRightContent {
		margin: 0;
		max-width: 250px;
	}

    @keyframes slideFromBottom {
        from {
            top: 100%;
            opacity: 0;
        }
        to {
            top: 0%;
            opacity: 1;
        }
    }
}
