.banner {
	height: calc(100vh - 97px);
	background: linear-gradient(
		to right,
		var(--white-clr) 0%,
		var(--white-clr) 50%,
		var(--light-brown-clr) 50%,
		var(--light-brown-clr) 100%
	);
	display: flex;
}

.banner.active .bannerLeftContent, .banner.active .bannerRightContent {
	opacity: 1;
	transform: translateX(0);
}

.bannerLeft, .bannerRight {
	flex: 1;
	display: grid;
	place-items: center;
}

.bannerLeftContent {
	opacity: 0;
	transition: all 500ms ease;
	transform: translateX(-1000px);
}

.bannerRightContent {
	opacity: 0;
	transition: all 500ms ease;
	transform: translateX(1000px);
}

.bannerLeft h1 {
	font-size: var(--fs-700);
}

.bannerLeft button {
	background-color: var(--brown-clr);
	color: var(--white-clr);
	border: 1px solid var(--brown-clr);
	font-size: var(--fs-200);
	text-transform: uppercase;
	padding: 8px 16px;
	cursor: pointer;
}

.bannerLeft button:hover, .bannerLeft button:focus {
	background-color: var(--white-clr);
	color: var(--brown-clr);
}

.bannerControls {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bannerControls span {
	width: 48px;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	font-size: var(--fs-600);
	cursor: pointer;
}

.bannerControlsLeft {
	background-color: var(--brown-clr);
	color: var(--white-clr);
}

.bannerControlsRight {
	background-color: var(--white-clr);
	color: var(--brown-clr);
}